@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Roboto:wght@500&display=swap');

/* body{
    font-family: 'IM Fell Great Primer SC', serif;
    font-family: 'Inter', sans-serif;
} */


@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body{
    background: black !important;
}

.game_section{
    margin-top: 90px;
}

.wrapper p{
    color: #BF1E2E!important;
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 45px;
}

.hero_wrapper{
    margin-left: 100px;
}




.hero_content{
    display:  block;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 68px;
}

.hero_content .desc_1{
    font-size: 27px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 3px;
    line-height: 36px;
   
}


.hero_content .desc_2{
    font-size: 72px;
    font-family: 'IM Fell Great Primer SC', serif;
    line-height: 88px;
    margin-top: 8px !important;
}


.desc_2 span{
    color: #BF1E2E;

}


.game_mode_title p{
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    color: #979797;
    
}

.game_mode_section{
    margin-top: 59px;
}

.game_mode_wrapper{
    margin-top: 34px !important;
    margin: auto;
    align-items: center;
  
}

.single_img{
    border: 1px solid #BF1E2E;
    text-align: center;
    border-radius: 7px;
    width: 250px;
    height: 250px;
    padding-top: 20px;
}


.single-img_desc{
    color: white;
    text-align: center;
    font-size: 24px;
    margin-top: 18px;
    font-family:'Inter', sans-serif ;
}



.single_img, p span{
    color: #BF1E2E;
}

.pay_btn{
    width: 250px;
    height: 45px;
    background: transparent;
    border: 1px solid #BF1E2E;
    color: white;
    padding: 30px;
    font-size: 24px;
    border-radius: 11px;
}


.pay_btn:hover{
    background: #BF1E2E;
}

.img_status{
    font-size: 24px;
    color: #979797 !important;
    text-align: center;
}

.wallet_btn{
    border: 4px solid #FE53BB;
    background: transparent;
    width: 194px;
    height: 41px;
    border-radius: 52px;
    color: #ffff;
    
    font-size: 17px;
    text-align: center;
    position: relative;
 
    
}

.wallet_btn:hover{
    opacity: 0.2;
}

.wallet_connection_wrapper .disconnect{
    cursor: pointer;
    position:  absolute;
    margin-left: 45px;
    border-radius: 20px;
    /* margin-top: 6px; */
   

}

.disconnect, span i{
    margin-bottom: 100px;
    font: bold;
    margin: auto 10px;
    color: #fff;
    cursor: pointer;
}

.disconnect{
    font-size: 17px;
   

}





/* RESPONSIVENESS  */

@media only screen and (max-width: 580px){

    .single_img{
        text-align: center;
        width: 100%;

    }


    .hero_wrapper{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        width: 100%;
        justify-content: center;
    }

    .pay_btn{
        text-align: center;
        margin: auto !important;
        margin-left: 40px;
        width: 150px;
        height: 50px;
      
    }


    .hero_content .desc_1{
        font-size: 15px;
    }


    .hero_content .desc_2{
        font-size: 35px;
    }


    .hero-img{
        width: 100%;
        text-align: center;
    }


    .logo{
        width: 80px;
    }



    .game_mode_title p{
        font-size: 25px;
        text-align: left;
    }

    .wrapper p{
        font-size: 25px;
    }
    
} 


@media only screen and (max-width:991px){
    .hero_content .desc_1{
        font-size: 20px;
    }

    .hero_content .desc_2{
        font-size: 50px;
    }

    #root > section > div.container > div > div > div:nth-child(2) > div > img{
        width: 250px;
        margin-top: 50px;
    }

    .single-img_desc{
        text-align: left;
    }

    .img_status{
        text-align: left;
    }

}
